body {
    background-color: #eceff0;
}

body,
input {
    font: 1em "Open Sans", sans-serif;
    color: #363639;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #363639;
}

/* List */

.list {
    background-color: #fff;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

.list .header{
    margin-bottom: 10px;

}

/* Items */

.items{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.items li,
.item-add input{
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px  0;
}

.items li:hover .done-button {
    opacity: 1;

}

.items .item.done {
    text-decoration: line-through;

}

.input {
    width: 100%;

}

.input:focus {
    outline: none;

}

/* Done Button */

.done-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: 0.6;
}

.delete-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: red;
    color: #fff;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.6;
}

.edit-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #5F9EA0;
    color: #fff;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.6;
}


/* Submit Button */

.submit {
    background-color: #e2d6d6;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}
/** Говонокод **/
#shadow {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window {
    width: 490px;
    height: 90px;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    color: #4e4e50;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}
.close, .complete {
    display: inline-block;
    border: 1px solid #ce6e6e;
    color: #ce6e6e;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #fafafa;
    font-size: 14pt;
    cursor:pointer;
}
 .complete {
     color: #3c763d;
     border: 1px solid #3c763d;
 }
.close:hover {background: #e6e6ff;}